apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-dotnet-basic-sumaejrn
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-dotnet-basic-sumaejrn:84245f2189ad89e31cc1ebe742aa12d8e5db6309@sha256:4ffa70b5cd7b2acd0b3d7f60dbdc61fb0ec59b7276f406374ad4cb2e0799ad4f
        name: container-image  
